* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../public/back.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
  display: flex;
  width: 100%;
  height:83.5vh;
  /* border:1px solid black ; */
}
#checkpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#form {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: 100%;
  outline: none;
  border-radius: 50px;
  border: none;
  overflow: hidden;
  background-color: rgb(222, 222, 230);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  padding-left: 20px;
}
#box {
  width: 90%;
  max-width: 600px;
  backdrop-filter: blur(3px);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px white, 2px 2px 10px white;
}
#box .img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box #location,
#time,
#direction,
#wind,
#temp {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;
  text-shadow: 0px 0px 2px rgb(76, 0, 255), 0px 0px 13px rgb(0, 0, 0),
    0px 0px 33px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px dotted white;
}
#time {
  width: 100%;
  height: 15%;
}
#location {
  width: 100%;
  height: 15%;
}
#temp {
  width: 100%;
  height: 15%;
}
#wind {
  width: 100%;
  height: 15%;
}
#direction {
  width: 100%;
  height: 15%;
  border: none;
}

.errorshowClass {
  color: red;
  font-size: 16px;
  margin: 15px;
  display: block;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
} 

#footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 195, 255);
  font-size: 17px;
  color: white;
}
#footer p a {
  text-decoration: none;
  color: rgb(17, 0, 255);
}

::selection {
  background-color: rgb(30, 255, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
  width:  0;
}